{if isset($showSelect)}
<script type="text/javascript">
    jQuery(document).ready(function() {
		$("#frmform-repository").change(function(){
			$("#frm-form").submit();
		})

    });
</script>
{/if}

<h1>{_"Repository settings"}</h1>

<ul class="toolbar">
	
	<li n:if="$presenter->isAllowed('Repository:Default:default')">
		<a href="{plink Default:}"{if $presenter->isCurrent("Repository:Default:*")} class="active"{/if}>Repositories</a>
	</li>
	<li n:if="$presenter->isAllowed('Repository:Packages:default')">
		<a href="{plink Packages:}"{if $presenter->isCurrent("Repository:Packages:*")} class="active"{/if}>Packages</a>
	</li>
	
	{if isset($showSelect)}
	<li class="form"><label>{form form}<span>repository:</span>{input repository}{/form}</li>
	{/if}

</ul>