<h1>{_"Stawebniny"}</h1>

<ul class="toolbar">
	
	<li n:if="$presenter->isAllowed('Admin:Security:Default:default')">
		<a href="{plink Default:default, type=>"news"}"{if $presenter->type == "news"} class="active"{/if}>zprávy</a>
	</li>
	<li n:if="$presenter->isAllowed('Admin:Security:Users:default')">
		<a href="{plink Default:default, type=>"article"}"{if $presenter->type == "article"} class="active"{/if}>články</a>
	</li>
	<li n:if="$presenter->isAllowed('Admin:Security:Roles:default')">
		<a href="{plink Default:default, type=>"firm"}"{if $presenter->type == "firm"} class="active"{/if}>firmy</a>
	</li>
	<li n:if="$presenter->isAllowed('Admin:Security:Permissions:default')">
		<a href="{plink Default:default, type=>"user"}"{if $presenter->type == "user"} class="active"{/if}>uživatelé</a>
	</li>
	<li n:if="$presenter->isAllowed('Admin:Security:Permissions:default')">
		<a href="{plink Default:default, type=>"product"}"{if $presenter->type == "product"} class="active"{/if}>produkty</a>
	</li>
	<li n:if="$presenter->isAllowed('Admin:Security:Permissions:default')">
		<a href="{plink Default:default, type=>"service"}"{if $presenter->type == "service"} class="active"{/if}>služby</a>
	</li>
	<li n:if="$presenter->isAllowed('Admin:Security:Permissions:default')">
		<a href="{plink Create:default, type=>NULL}"{if $presenter->type === NULL} class="active"{/if}>vytvořit</a>
	</li>
	
</ul>
