*
!.*

!AdminModule/
!AdminModule/*
!AdminModule/*/*
!AdminModule/*/*/*

!DefaultModule/
!DefaultModule/*
!DefaultModule/*/*
!DefaultModule/*/*/*

!ErrorModule/
!ErrorModule/*
!ErrorModule/*/*
!ErrorModule/*/*/*

!InstallationModule/
!InstallationModule/*
!InstallationModule/*/*
!InstallationModule/*/*/*

!PagesModule/
!PagesModule/*
!PagesModule/*/*
!PagesModule/*/*/*

!proxies/
!proxies/*

!RepositoryModule/
!RepositoryModule/*
!RepositoryModule/*/*
!RepositoryModule/*/*/*

!SitemapModule/
!SitemapModule/*
!SitemapModule/*/*
!SitemapModule/*/*/*

!config.neon
!web.config
!bootstrap.php