*
!.*
!AdminModule/
!AdminModule/*
!DefaultModule/
!DefaultModule/*
!ErrorModule/
!ErrorModule/*
!InstallationModule/
!InstallationModule/*
!PagesModule/
!PagesModule/*
!proxies/
!proxies/*
!RepositoryModule/
!RepositoryModule/*
!SitemapModule
!config.neon
!web.config
!bootstrap.php