*
!.*
.config.neon

!elements/.*
!macros/.*

!DefaultModule/
!DefaultModule/*
!DefaultModule/*/*
!DefaultModule/*/*/*
!DefaultModule/*/*/*/*

!ErrorModule/
!ErrorModule/*
!ErrorModule/*/*
!ErrorModule/*/*/*
!ErrorModule/*/*/*/*

!InstallationModule/
!InstallationModule/*
!InstallationModule/*/*
!InstallationModule/*/*/*
!InstallationModule/*/*/*/*

!ModulesModule/
!ModulesModule/*
!ModulesModule/*/*
!ModulesModule/*/*/*
!ModulesModule/*/*/*/*

!NavigationModule/
!NavigationModule/*
!NavigationModule/*/*
!NavigationModule/*/*/*
!NavigationModule/*/*/*/*

!PagesModule/
!PagesModule/*
!PagesModule/*/*
!PagesModule/*/*/*
!PagesModule/*/*/*/*

!RepositoryModule/
!RepositoryModule/*
!RepositoryModule/*/*
!RepositoryModule/*/*/*
!RepositoryModule/*/*/*/*

!SecurityModule/
!SecurityModule/*
!SecurityModule/*/*
!SecurityModule/*/*/*
!SecurityModule/*/*/*/*

!SitemapModule/
!SitemapModule/*
!SitemapModule/*/*
!SitemapModule/*/*/*
!SitemapModule/*/*/*/*

!SystemModule/
!SystemModule/*
!SystemModule/*/*
!SystemModule/*/*/*
!SystemModule/*/*/*/*

!WebsiteModule/
!WebsiteModule/*
!WebsiteModule/*/*
!WebsiteModule/*/*/*
!WebsiteModule/*/*/*/*

!LayoutModule/
!LayoutModule/*
!LayoutModule/*/*
!LayoutModule/*/*/*
!LayoutModule/*/*/*/*

!proxies/
!proxies/*

!config.neon
!web.config
!bootstrap.php 
