<h1>{_"System settings"}</h1>

<script type="text/javascript">
    jQuery(document).ready(function() {
		$("#frmformMode-mode").change(function(){
			$("#frm-formMode").submit();
		})

    });
</script>

<ul class="toolbar">
	
	<li n:if="$presenter->isAllowed('Admin:System:Default:default')">
		<a href="{plink Default:}"{if $presenter->isCurrent("Admin:System:Default:*")} class="active"{/if}>general</a>
	</li>
	<li n:if="$presenter->isAllowed('Admin:System:Database:default')">
		<a href="{plink Database:}"{if $presenter->isCurrent("Admin:System:Database:*")} class="active"{/if}>database</a>
	</li>
	<li n:if="$presenter->isAllowed('Admin:System:Account:default')">
		<a href="{plink Account:}"{if $presenter->isCurrent("Admin:System:Account:*")} class="active"{/if}>account</a>
	</li>
	
	<li class="form"><label>{form formMode}<span>mode:</span>{input mode}{/form}</li>
	
</ul>

<h2>Select mode</h2>

