{**
 * Venne:CMS layout template.
 *
 * @copyright  Copyright (c) 2011 Josef Kříž 
 *
 * @param string   $basePath	web base path
 * @param array    $flashes		flash messages
 * 
 * @param $venneModeAdmin
 * @param $venneModeInstallation
 * @param $venneModeFront
 *
 * @param $lang
 * @param $langName
 * @param $langAlias
 *}

{js /js/jquery-1.6.min.js}

{capture $body}
{include #body}
{/capture}
{element header:html5}
{!$body}
