<h1>{_"Websites settings"}</h1>

<ul class="menu">
	<li><a href="{link default}"{if $presenter->isCurrent("Webs:Default:default")} class="active"{/if}>{_"websites"}</a></li>
	<li><a href="{link create}"{if $presenter->isCurrent("Webs:Default:create")} class="active"{/if}>{_"new website"}</a></li>
</ul>

