{block content}


{if isset($repositories)}

	<h1>Repositories</h1>

	<ul>
	{foreach $repositories as $repository}
		<li><a n:href="this repository=>$repository">{$repository}</a></li>
	{/foreach}
	</ul>

{else}

	<h1>Packages</h1>

	<ul>
	{foreach $packages as $package}
		<li><a n:href="this package=>$package.'.pkg'">{$package}.pkg</a></li>
	{/foreach}
	</ul>
	
	<h2>Upload package</h2>
	
	{control formPackage}
{/if}
