{if $presenter->user->isAllowed("adminpanel") || isset($login)}

{css /css/panel/style.css}

<script type="text/javascript">
	var adminpanel = true;
	$(document).ready(function(){
		{if $venneModeFront}
		$("#venne-panel-roller a").click(function(){
			if(adminpanel){
				$.get("./?do=element_panel-closePanel");
				$("#venne-panel").animate({
					marginTop: "-35px"
				}, 200);
				$("#venne-panel-roller").animate({
					marginTop: "-7px"
				}, 200);
				$(this).text("open");
			}else{
				$.get("./?do=element_panel-openPanel");
				$("#venne-panel").animate({
					marginTop: "0px"
				}, 200);
				$("#venne-panel-roller").animate({
					marginTop: "23px"
				}, 200);
				$(this).text("close");
			}
			adminpanel = !adminpanel;
		});
		{/if}

		$("#venne-panel .elements a").hover(
		function(){
			class = $(this).attr('class');
			class = class.toString().substr(7);
			$(".element-"+class).addClass("element-hover");
		},
		function(){
			class = $(this).attr('class');
			class = class.toString().substr(7);

			$(".element-"+class).removeClass("element-hover");
		});
		
		$("#venne-panel .areas a").hover(
		function(){
			class = $(this).attr('class');
			class = class.toString().substr(7);
			$(".area-"+class).addClass("area-hover");
		},
		function(){
			class = $(this).attr('class');
			class = class.toString().substr(7);

			$(".area-"+class).removeClass("area-hover");
		});

		{if $showAdminPanel}
		adminpanel = false;
		$("#venne-panel-roller a").text("open");
		{/if}

		{*if !$Venne->administration}
		{if $presenter->isModeEditLayout()}

		$( ".sortable" ).sortable({
			connectWith: ".sortable",
			placeholder: "placeholder",
			tabSize: 25,
			tolerance: 'pointer',
			accept: ".area-block",
			forcePlaceholderSize: true,
		});

		$("#venne-panel a.saveLayout").click(function(){
			var data = "{";
			var key;
			var first = 1;
			var first2 = 1;
			$("body").find(".sortable").each(function(){
				if(!first) data += ",";
				else first = 0;
				data += '"'+$(this).attr("id").replace("sortable-","")+'":{';
				key = $(this).attr("id");

				first2 = 1;
				$(this).find(".area-block").each(function(){
					if(!first2) data += ",";
					else first2 = 0;
					data += '"'+$(this).attr("id")+'":"1"';
				});
				data += "}";
			});
			data += "}";
			$.post("?do=saveLayout", { data: data}, function (payload) {
				//$.nette.success(payload);
				alert("Layout has been saved.");
			});
		});

		{/if}
		{/if*}
	});
</script>

{if $venneModeFront}
<div id="venne-panel-roller" class="{if $showAdminPanel}closed{/if}">
	<a href="javaScript:;">close</a>
</div>
{/if}

<div id="venne-panel" class="{if $venneModeFront}{if $showAdminPanel}closed{/if}{/if}">
	{if $presenter->user->isLoggedIn()}
	<div class="panel-left">
		<div class="first box">
			<img src="{$basePath}/templates/admin/img/logo-solo.png" />
		</div>

		{*foreach $presenter->getPanelMenu()->getChildrens() as $item}
		<div class="box">
			{if $item->getChildrens()}<div class="popup">{/if}
				<a href="{$item->getLink()}"{if $item->getClass()} class="{$item->getClass()}"{/if}>{$item->getName()}</a>
			{if $item->getChildrens()}
				<div class="popup-open elements">
					<ul>
						{foreach $item->getChildrens() as $item2}
						<li><a href="{$item2->getLink()}" class="button-module{if $item2->getClass()} {$item->getClass()}{/if}">{$item2->getName()}</a></li>
						{/foreach}
					</ul>
				</div>
			</div>
			{/if}
		</div>
		{/foreach*}
	</div>
	<div class="panel-right">

		<div class="box first"><a href="{link logout!}">{_"Sign Out"}</a></div>

		<div class="box">{_"Hello"} {$presenter->user->identity->name}</div>

		<div class="box">
			<div class="popup">
				<a href="javaScript:;">{_"Language"} {$langName}</a>
				<div class="popup-open elements">
					<ul>
						{foreach $presenter->getLanguage()->getCurrentLanguages($presenter->getContext()->httpRequest) as $item}
						<li><a{if $lang==$item->id} class="active"{/if} href="{plink this, 'lang'=>$item->id}">{$item->name}</a></li>
						{/foreach}
					</ul>
				</div>
			</div>
		</div>

		{if isset($langEdit)}
		<div class="box">
			<div class="popup">
				<a href="javaScript:;">{_"Language for edit"} {=$presenter->getContext()->language->getCurrentFrontLang($presenter->getContext()->httpRequest)->name}</a>
				<div class="popup-open elements">
					<ul>
						{foreach $presenter->getLanguage()->getCurrentFrontLanguages($presenter->getContext()->httpRequest) as $item}
						<li><a{if $langEdit==$item->id} class="active"{/if} href="{plink this, 'langEdit'=>$item->id}">{$item->name}</a></li>
						{/foreach}
					</ul>
				</div>
			</div>
		</div>
		{/if}

		{if isset($webId)}
		<div class="box">
			<div class="popup">
				<a href="javaScript:;">{_"Website for edit"} {=$presenter->getContext()->website->getRepository()->find($webId)->name}</a>
				<div class="popup-open elements">
					<ul>
						{foreach $presenter->getWebsite()->getRepository()->findAll() as $item}
						{if $item->id == -1}{?continue}{/if}
						<li><a{if $webId==$item->id} class="active"{/if} href="{plink this, 'webId'=>$item->id, 'langEdit'=>NULL}">{$item->name}</a></li>
						{/foreach}
					</ul>
				</div>
			</div>
		</div>
		{/if}

		{if $venneModeAdmin}
		<div class="box"><a href="{$basePath}/">{_"View the Site"}</a></div>
		{else}
			{if $presenter->user->isAllowed("administration")}
			<div class="box"><a href="{$basePath}/admin">{_"View the Administration"}</a></div>
			{/if}
		{/if}

		{*if !$Venne->administration}
		<div class="box">
			<div class="popup">Mode
				{if $presenter->isModeEditModule()}<a href="javaScript:;">{_"Edit module"}</a>
				{elseif $presenter->isModeEditLayout()}<a href="javaScript:;">{_"Edit Layout"}</a>
				{elseif $presenter->isModeEditElements()}<a href="javaScript:;">{_"Edit Elements"}</a>
				{else}<a href="javaScript:;">{_"Normal"}</a>
				{/if}
				<div class="popup-open elements">
					<ul>
						<li><a href="{link this, 'mode'=>0}">Normal</a></li>
						<li><a href="{link this, 'mode'=>1}">Edit module</a></li>
						<li><a href="{link this, 'mode'=>2}">Edit Layout</a></li>
						<li><a href="{link this, 'mode'=>3}">Edit Elements</a></li>
					</ul>
				</div>
			</div>
		</div>
		{/if*}

	</div>
	{else}
<div class="panel-left">
		{widget formLogin begin}
	<div class="first box">
			{_"Login:"} {$control["formLogin"]["name"]->control}
	</div>
	<div class="box">
			{_"Password:"} {$control["formLogin"]["password"]->control}
	</div>
	<div class="box">
			{$control["formLogin"]["submit"]->control}
	</div>
		{widget formLogin end}
</div>
	{/if}
</div>

{/if}